.form{
    display: flex;
    flex-direction: column;
    margin: 30px;
    
    width: 500pt;
    background-color: rgb(250, 235, 215);
    padding: 10px;
    justify-content: space-between;
}
.form-field{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
}
.form label{
    font-size: 2em;
 
}
.form input{
    font-size: 16pt;
  
    display: inline;
    line-height: 1em;
    width: max-content;
}
.form select{
    font-size: 16pt;
  
    display: inline;
    line-height: 1em;
    width: 200pt;
}
.form button{
    background-color:whitesmoke; 
    border: 2px solid rgb(154, 0, 54);
    color: black;
    padding: 15px 32px;
    width: max-content;
    font-size: 26pt;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 10px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;/*Safari */
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    margin-bottom:25px;
}

.form button:hover{
    background-color: rgb(154, 0, 54);
    color: white;
}